.checkbox-filter {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #CCC;
  border-radius: 5px;
  width:100%;
  box-sizing: border-box;
  margin:10px;
}
  .checkbox-filter label {
    cursor: pointer;
    border: solid 1px #DDD;
    padding:4px;
    margin: 3px 6px 3px 0;
  }
  .checkbox-filter label:hover {
    background: rgba(0,0,0,0.1);
  }